body{
  background-color: #C6E0FF;
}

#rpsGifs, #results{
  display: none;
}

#h1{
  text-align: center;
  font-size:60px;
  font-family: 'Roboto', sans-serif;
  margin-top: 200px;
}

.rps{
  width: 150px;
  margin-left: 15px;
  margin-right: 15px;
}

#images{
  text-align: center;
}

#para, #results{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 25px;
}
#rpsGifs{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.labels{
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

#div1, #div2{
  display: inline-block;
}
